.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
}
.header {
  display: flex;
  align-items: center;
}
.header h1 {
  font-size: 35px;
}
.header img {
  height: 140px;
  width: 140px;
}
.container p {
  font-size: 25px;
  max-width: 60%;
  text-align: center;
  line-height: 40px;
}
.skills {
  margin-block: 20px;
}
.skills img {
  height: 120px;
  width: 120px;
  margin-inline: 15px;
}
.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vh;
}
.images img {
  height: 652px;
  width: 293px;
  border-radius: 40px;
  overflow: hidden;
}
@media screen and (max-width: 1430px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1080px) {
  .container p {
    max-width: 80%;
  }
  .skills img {
    height: 85px;
    width: 85px;
  }
}
@media screen and (max-width: 680px) {
  .images {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 25px;
  }
  .container p {
    max-width: 95%;
  }
  .skills {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
