.container {
  display: flex;
  align-items: center;
  padding-top: 9vh;
  max-width: 65vw;
  margin: auto;
  gap: 1.1rem;
}
.container h1 {
  margin-bottom: 0;
}
.container p {
  font-size: 1.2rem;
  line-height: 30px;
}
.container img {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
}
@media screen and (max-width: 1080px) {
  .container {
    flex-direction: column;
    max-width: 80vw;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 95vw;
  }
  .container p {
    font-size: 1rem;
  }
}
